<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.tripquest.mapper.TouristSpotMapper">

    <select id="findById" parameterType="int" resultType="com.ssafy.tripquest.domain.TouristSpot">
        SELECT
            no,
            title,
            latitude,
            longitude,
            gps_verify_range as gpsVerifyRange
        FROM
            tourist_spots
        WHERE
            no = #{spotNo}
    </select>

    <select id="findAll" resultType="com.ssafy.tripquest.domain.TouristSpot">
        SELECT
            no,
            title,
            latitude,
            longitude,
            gps_verify_range as gpsVerifyRange
        FROM
            tourist_spots
        ORDER BY
            no
    </select>

</mapper>
